.custom_nav{
    font-size:small;
    box-shadow: 0px ,2px, 22px rgba(0,0,0,0.3);
   }
    ul.dropdown-menu{
    font-size:small;
   }
   .custom-divider{
    height: 5px;
    background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1)
   15%, rgba(9,9,121,1) 39%, rgba(26,221,3,1) 58%, rgba(4,185,49,1) 79%,
   rgba(0,212,255,1) 100%);
   }
   .main-banner{
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: plum;
    background-size: cover;
    color: white;
   }
   .feature-holder{
    text-align: center;
    margin-bottom: 25px;
   }
   section.feature{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:whitesmoke;
   }
   .feature-holder h3{
    font-size:1.2em;
   }
   .feature-holder p{
    font-size:14px;
   }
   section.online-courses, .classroom-training, .review-slider, .pagecontent{
    padding-top:35px;
    padding-bottom:35px;
   }
   .online-course-text-widget, .classroom-course-text-widget, .reviewtext-widget {
    text-align: center;
   }
   .online-course-text-widget h2, .classroom-course-text-widget h2,
   .review-text-widget h2 {
    font-size:1.3em;
   }
   .online-course-text-widget p , .classroom-course-text-widget p,
   .review-text-widget p{
    font-size:14 px;
   }
   .online-course-card , .review-text-widget{
    text-align:center;
    margin-bottom:25;
    }
   .card .online-course-card .card-title{
   font-size: 1.2em;
   line-height: 25px;
   }
   .online-course-card .card-text{
    font-size:14px;
   }
   .classroom-training, .page-content{
    background-color: whitesmoke;
   }
   .review-slider{
    background-color: gainsboro;
   }
   .sign-up-form-sidebar .card-title{
    font-size: 1.2em;
   }
   .sign-up-form-sidebar .card-text{
    font-size: 14px;;
   }
   .course-list-item{
    color: black;
    font-size: small;
    padding: 20px;;
   }
   #review-slider-content li .card{
    text-align: center;
   }
   #review-slider-content li .card img{
    width: 50px;
    margin-bottom: 15px;
   }
   #review-slider-content li .card .card-title{
    font-size: 18px;
    font-weight: bold;
   }
   #review-slider-content li .card .star{
    color: orange;
    font-size: 14px;
   }
   #review-slider-content li .card .card-text{
    font-size: 14px;
   }
   footer.main-footer{
    background-color: #292929;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
   }
   aside.footer-widget{
    margin-bottom: 25px;
   }
   aside.footer-widget h5{
    font-size: 16px;
   }
   aside.footer-widget ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
   }
   aside.footer-widget ul li a{
    text-decoration: none;
    font-size: 14px;
    color:#adadad;
    display: inline-block;
    margin-bottom: 5px;
   }
   address h2{
    font-size: 20px;
   }
   address p{
    font-size: 14px;
   }
   section.copy{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
   }
   section.copy p{
    margin: 0px;
   }
   .google-map{
    padding-top:56px;
   }